body{margin:0px;padding:0px;}
header{width:100%;font-family:sans-serif;font-size:12px;}
header>div>nav>div>ul>li>a{ color:#fff;}
header>div>nav>div>ul>li>a:hover{
    background:#fff;color:#274a6f;border-radius:4px;font-weight:600;
}
#map{width: 100%;  z-index: 1; position: relative;}
	#showPassword{width: 25px;
    position: relative;
    left: 90%;
    bottom: 0px;
    z-index: 2;
    cursor: pointer;opacity: 0;
    top: 6px;}
    #hidePassword{width: 25px;
    position: relative;
    left: 90%;
    bottom: 0px;
    z-index: 2;
    cursor: pointer;display: none;
    top: 6px;}
    #showPasswordc{width: 25px;
    position: relative;
    left: 90%;
    bottom: 0px;
    z-index: 2;
    cursor: pointer;opacity: 0;
    top: 6px;}
    #hidePasswordc{width: 25px;
    position: relative;
    left: 90%;
    bottom: 0px;
    z-index: 2;
    cursor: pointer;display: none;
    top: 6px;}

#showPasswordf{width: 25px;
    position: relative;
    left: 90%;
    bottom: 0px;
    z-index: 2;
    cursor: pointer;
    opacity: 0;
    top: 6px;}
#hidePasswordf{width: 25px;
    position: relative;
    left: 90%;
    bottom: 0px;
    z-index: 2;
    cursor: pointer;
    opacity: 0;
    top: 6px;}
#showPasswordfc{width: 25px;
    position: relative;
    left: 90%;
    bottom: 0px;
    z-index: 2;
    cursor: pointer;
    opacity: 0;
    top: 6px;}
#hidePasswordfc{width: 25px;
    position: relative;
    left: 90%;
    bottom: 0px;
    z-index: 2;
    cursor: pointer;
    opacity: 0;
    top: 6px;}

.displaynone{display:none;}
.active{background:#fff;color:#000;border-radius:4px;}

.activatemenueList{background-color: #894151e3;
    transition: all 0.9s;
    color: #fff;
    border-radius: 8px 8px 0px 0px;}
    #successMessage:before{content: ' \22D8';}
    .arrow-left {
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    border-right: 13px solid blue;
    position: absolute;
    left: 566px;
    bottom: 65px;
}
 #showPopupCompleteshipment{
 display:none;
 position: fixed;
    z-index: 11;
    TOP: 15%;
    background: #fff;
    left: 1%;
    margin: 3% 31%;
    padding: 1% 1% 3% 1%;
    width: 35%;}
.lineHeight5{line-height:0.3125rem}
.lineHeight10{line-height:0.625rem}
.lineHeight15{line-height:0.9375rem}
.lineHeight20{line-height:1.25rem}
.lineHeight24{line-height:1.5rem}
.lineHeight30{line-height:1.875rem}
.lineHeight32{line-height:2rem}
.lineHeight35{line-height:2.25rem}


.cols-label{font-size: 10px;font-weight: 600;}
.formfieldslist{width: 100%;height: 40px;font-size: 12px;}
.form-control{height:35px;}
.bp_idDropDown{width: 95px;font-size: 12px;padding: 4%;text-align: center;margin-top: 2px;padding-left: 32%;}
/* .headermenu{display:none;} */
/* .{padding: 3%;background: #965664;border-radius: 3px;color: #fff;padding-top: 4%;} */

.showpreGoods{height: 30px;width: 100%;float: left;}
.showallGoods{display:none;}
.showallRoutes{display:none;}
.mailviewer{display:none;}
.emailtemplateview{width:70%;margin:5%;border:1px solid #000;}
.bg-color{background:#894151e3;}
.control_parameters>tbody>tr>td{padding:3px;}
.control_parameters>tbody>tr>td:first-child{font-weight:bold;text-align:right;}
.btn-head{margin-bottom:3px;border: 1px solid #894151e3;;font-size: 12px;font-weight: 600;color: #ffffff;padding: 3px 15px;border-radius:5px;}
.btn-head:hover{background:#ddd;cursor:pointer;color: #000000;border: 1px solid #ddd;border-bottom: 3px solid #965664;}
.btn-head-active{background:#ddd;color: #000000;border: 1px solid #ddd;border-bottom: 3px solid #965664;}
.margin-rl1{margin:0px 5px;}
.margin-rl2{margin:0px 10px;}
.margin-rl3{margin:0px 15px;}
.margin-rl4{margin:0px 20px;}
.margin-rl5{margin:0px 25px;}
.margin-rl6{margin:0px 30px;}
.margin-rl7{margin:0px 35px;}
.space-route-head{width:35%;height:10px;float:left;}

.header-menu{color:#fff;float:left;margin-top:1.9%;margin-left:1%;}
.header-menu a{color:#fff;font-weight:bold;}
.header-menu:hover{background:#fff;border-radius:5px 5px 0px 0px;}
.header-menu:hover a{color:#274a6f;}
.site-title{color: #ffffff;text-shadow: 0 4px 0 rgba(100,100,100,1), 0 8px 3px rgba(0,0,0,0.7);font-weight: 600;font-size: 38px;padding: 1%;font-weight: bold;}
.site-title a{text-decoration:none;color:#ffffff;}
.site-title:hover a{text-decoration:none;color:#ffffff;}
.hide_show_icon,.show_hide_icon{font-weight: bold;cursor:pointer;text-align:center;float:right;margin-top:1%;}
.hide_show_icon, .show_remaing{display:none;}

#inboxesvalues>thead>tr>th{font-size:23px;}
#inboxesvalues>tbody>tr{margin-bottom:3px;}
#setup{position:relative;}
.setupMenu{display:none;position:absolute;}
#setup:hover .setupMenu{display:block;}
.addRoute-btn{color: #fff;width: 25px;height: 28px;border-radius: 3px; margin-left: 3px;}
header {
    padding: 15px;
}

header ul {
    padding-left: 0px;
}

header ul li {
    display: inline-block;
}

header ul li a {
    padding: 14px 20px;
    color: #000000;
}

header ul {margin-top: 10px;}

.dropdown select {
    font-size: 12px;
    width: 40% !important;
    margin-right: 25px;
    border-radius: 23px;
    padding: 8px !important;
    height: auto;
}

header {
    box-shadow: 0px 0px 18px 9px #f6f6f6;
    padding-bottom: 0px;
}

header ul {
    margin-bottom: 0px !important;
}

header ul li a {
    text-decoration: none !important;
}
button#reset {
  /*   background-color: transparent;
    color: #73182c;
    padding: 0px !important;
    height: auto !important;
    width: auto !important;
    height: 30px !important;
    width: 30px !important;
    border-radius: 50%;
    border-color: #73182c !important; */
      border: 0px;
    padding: 7px 20px !important;
    height: auto !important;
    width: 46%;
    border-radius: 20px;
    /* margin-right: 15px !important; */
    color:#ffffff;
}
header {
    box-shadow: -1px 0px 17px 9px #e8e8e8;
    padding-bottom: 0px;
    margin-bottom: 10px;
}

.dropdown select {
    floaT: left;
}
header ul li a:hover {
    background-color: #894151e3;
    transition: all 0.9s;
    color: #fff;
    border-radius: 8px 8px 0px 0px;
}
.dropdown {
    margin-top: 20px;
}

span.my-btn {
    color: #73182c;
    background-color: #fff;
    width: 25%;
    text-align: left;
    display: inline-block;
    padding: 5px 10px;
}


span.btn sup.live_show_list_items {
    top: 0px !important;
    float: right;
    padding: 5px;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    text-align: center !important;
    left: 0px !important;
    color: #fff;
    position: relative;
    padding-top: 12px;
    font-size: 12px;
}
span#delivered sup.delivery_show_list_items{
top: 0px !important;
    float: right;
    padding: 5px;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    text-align: center !important;
    left: 0px !important;
    color: #fff;
    position: relative;
    padding-top: 12px;
    font-size: 12px;
}
span.btn-primary {
    box-shadow: -5px -2px 29px #f4f4f4 !important;
}
span.btn-primary {
        border-left: 6px solid #73182c !important;
}

.delivered_shipments .col-md-4.col-sm-4 p {
    float: left;
    margin-right: 4px !important;
    color: grey;
    text-transform: capitalize;
}
span.my-btn {
    margin-right: 15px;
}
.my-btn {
    color: #d5d5d5 !important;
    border: 1px solid #d5d5d5 !important;
}
span.btn-primary {
    color: #73182c !important;
}
span.my-btn:hover {
    background-color: transparent !important;
}
.my-div {
    width: 30%;
    float: right;
}
.my-div div#createshipment_link {
    padding: 5px 15px;
    border-radius: 27px;
    color: #fff;
        font-weight: 600;
}

.my-div span.btn.btn-outline-info.float-right.createshipmentfont {
    background-color: transparent !important;
}
div#createshipment_link i.fa.fa-plus-circle {
    margin-right: 0px;
}
.btn-filter {
    color: #73182c;
    font-size: 12px !important;
    margin-right: 20px;
    text-decoration: underline;
    border-radius: 20px !important;
    padding: 3px 12px !important;
	color: #fff !important;
	padding: 5px 35px !important;
	background-color: #894151e3 !important;
	text-decoration: none;}

.btn-filter i {
    margin-right: 5px;
}
.btn-filter:hover {
    background-color: #73182c !important;

}
.float-left.p-1 label {
 text-indent:8px;
}

.float-left.p-1 input{
    padding: 5px !important;
    height: auto !important;
    border-radius: 30px;
}
.float-left.p-1 select {
    padding: 4px !important;
    height: auto !important;
    border-radius: 30px;
}
.show_btn_search {
    width: 100%;
    float: left;
    padding: 10px 0px !important;
}

button#submit {
    border: 0px;
    padding: 7px 20px !important;
    height: auto !important;
    width: 46%;
    border-radius: 20px;
    /* margin-right: 15px !important; */
    color:#ffffff;
}

.progress-bar.progress-bar-striped.progress-bar-animated {
    background-color: #18b85a !important;
}
.points-dots{width: 10px;border-radius: 15px;background: #18b85a;height: 10px;position: absolute;left: -4%;bottom: 1px;z-index: 1;}
.points-dots2{width: 10px;border-radius: 15px;background: #18b85a;height: 10px;position: absolute;left: 96%;bottom: 1px;z-index: 0;}
/* .text-center.m-auto .p-1 {
    display:none;
} */
.progress.margin-auto {
    width: 100%;
    float: Left !important;
    position: relative !important;
    top: 0px !important;
    margin-bottom: 4px;
}

.delivered_shipments p {
    color: grey !important;
}

.delivered_shipments span {
    color: grey;
}
.live_shipments_list {
    border: 1px solid #cec4c4 !important;
}
.col-md-5.float-left.pl-1.p-0, .col-md-7.float-left {
    background-color: white;
}


.col-md-5.float-left.pl-1.p-0 {
    padding: 0px 12px !important;
}
.col-md-5.float-left.pl-1.p-0 {
    position: relative !important;
}

button.btn.btn-info.download {
    background-color: #73182c;
    margin-bottom: 10px !important;
    padding: 10px 15px !important;
    height: auto !important;
    border-radius: 25px !important;
    border: 0px;
    margin-top: 14px !important;
}
button.btn.btn-info.download i {
    margin-right: 10px;
}
button.btn.btn-info.download:hover {
    background-color: #000 !important;
}
.mapp {
    padding-right: 15px !important;
}
.page-item.active .page-link {
    background-color: #b23958 !important;
    border-color: #b23958 !important;
}
div#shortsMenu_update_complete button.btn {
    background-color: #73182c!important;
    border: 0px;
    border-radius: 30px;
}
.info_attached ul.nav.nav-tabs li.nav-item a {
    color: #73182c !important;
}

.info_attached ul.nav.nav-tabs li.nav-item a.nav-link.active {
    font-weight: bold;
}
.info {
    border-left: 2px solid #73182c !important;
}
table#shipmentdatalistshow tr th, table#shipmentdatalistshow tr td, table#draftTableaa tr th, table#draftTableaa tr td{
    /* padding: 10px !important; */
}
.my-div-main {
    float: left;
    width: 100%;
}
.col-md-5.float-left.pl-1.p-0 {
        background-color: #f1f2ff;
}



h3.my-head {
    margin: 30px 0px;
    color: #73182c;
}

header ul {

    margin-bottom: 20px !important;
}

header {
    padding-top: 0px;
}

header .col-md-3 a img {
    margin: 0px auto;
    display: table;
    margin-top: 18px;
}



.dropdown {
    margin-top: 18px;
}

header ul li a {
    font-weight: 600;
}
li.active a {
    border-bottom: 1px solid #894151e3;
    border-top: 1px solid #894151e3;
    border-left: 1px solid #894151e3;
    border-right: 1px solid #894151e3;
    border-radius:5px;
}
#error{width: 100%;font-size: 12px;font-weight: 600;color: red;text-align: center;}
#EventError{width: 100%;font-size: 12px;font-weight: 600;color: red;text-align: center;}


.completedBackground{background:#ced4da;}



.eventNum{text-align: center;height: 25px;font-size: 10px;font-weight: bold;width: 90px;padding: 5px;border-radius: 3px;border: 1px solid #ced4da;}
.eventBp{text-align: center;height: 25px;font-size: 10px;font-weight: bold;width: 175px;padding: 5px;border-radius: 3px;border: 1px solid #ced4da;}
.eventName{text-align: center;height: 25px;font-size: 10px;font-weight: bold;width: 170px;padding: 5px;border-radius: 3px;border: 1px solid #ced4da;}
.eventDate{text-align: center;height: 25px;font-size: 10px;font-weight: bold;width: 131px;padding: 5px;border-radius: 3px;border: 1px solid #ced4da;}
.eventStatus{text-align: center;height: 25px;font-size: 10px;font-weight: bold;width: 85px;padding: 5px;border-radius: 3px;border: 1px solid #ced4da;}



@media only screen and (min-width: 600px) {
  /* For mobile phones: */
  .row-padding{padding:0% 17%;}
/*   [class*="col-"] {
    width: 100%;
  } */
}
btn btn-light dropdown-toggle{
 background:brown;
}
.delivered_shipments{display:none;}
@keyframes blink {
       0% {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
       50% {
            -webkit-transform: scale(1.5);
            transform: scale(1.5);
        }
        100% {
          -webkit-transform: scale(1);
            transform: scale(1);
        }
    }
 .alaram {
        transition: .3s ease-in;
        animation: blink 1s;
        animation-iteration-count: infinite;
    }
 

 #tablelist_data>tbody>tr{transition: transform .2s;postion:relative; /* Animation */}
 #tablelist_data>tbody>tr:hover{ transform: scale(1.1);background:blue;color:#fff;box-shadow: -5px 3px 30px #000;}
 .live_shipments{overflow-y:auto;overflow-x:hidden;width:100%;height:450px;border-top: 2px solid #915163b5;margin-top: 18px;}
 .delivered_shipments{min-height: 450px;overflow-y:auto;overflow-x:hidden;width:100%;}
.live_shipments_list{transition: transform .2s;/* Animation */}
.live_shipments_list:hover{transform: scale(1.04);box-shadow: -5px 3px 30px #000;z-index: 1;position: relative;}
.header-menu{color:#fff;float:left;}
.header-menu a{color:#fff;font-weight:bold;}
.header-menu:hover{background:#fff;border-radius:5px 5px 0px 0px;}
.header-menu:hover a{color:#274a6f;}
.site-title{color: #ffffff;text-shadow: 0 4px 0 rgba(100,100,100,1), 0 8px 3px rgba(0,0,0,0.7);font-weight: 600;font-size: 38px;padding: 1%;font-weight: bold;}
.site-title a{text-decoration:none;color:#ffffff;}
.site-title:hover a{text-decoration:none;color:#ffffff;}
.hide_show_icon,.show_hide_icon{font-weight: bold;cursor:pointer;text-align:center;float:right;margin-top:1%;}
.hide_show_icon, .show_remaing{display:none;}
.showviewdata{display: none;padding-top:1%; width: 57%;background: #fff;border-radius: 5px;margin: auto;text-align: center;}
#backgroundBlur{background: #000000;opacity: .7;display: none;position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: 999999999;}
.view_body_boder{width:95%;height:80%;border:1px solid #000;margin:auto;box-shadow:0px 0px 5px #000;}
.view_body_header{width:100%;height:30px;padding-top:1%;padding-right:3%;}
.nodes{width:55px;font-size:11px;font-weight:bold;border:1px solid #000;float:left;text-align:center;margin:1px;float:right;border-radius:3px 3px 0px 0px;}
footer{width:100%;height:50px;margin-top:5%;}
#scanboxview{display:none;}
.bodyblur{width:100%;height:100%;background:#000000e0;position:absolute;z-index:1;display:none;}
.bodyblur1{width:100%;height:100%;background:#000000e0;position:absolute;z-index:1;display:none;}
#locationboxview{display:none;background:#fff;border:1px solid #000;top:1px;}
.body_blur{width:100%;height:100%;overflow:hidden;position:fixed;top:0px;z-index:1;background:#00000069;display:none;}
.body_blur1{width:100%;height:100%;overflow:hidden;position:fixed;top:0px;z-index:1;background:#00000069;display:none;}
.body_blur5{width:100%;height:100%;overflow:hidden;position:fixed;top:0px;z-index:1;background:#00000069;display:none;}
.AddEventBlock{padding-bottom: 1%;width:30%;min-height:200px;background:#fff;border-radius:5px;top:17rem;position:fixed;z-index:2;margin:0% 35%;display:none;}
.addOriginpopup{padding-bottom:1%;width:30%;min-height:200px;background:#fff;border-radius:5px;top:45%;position:fixed;z-index:2;margin:-7% 38%;display:none;}
.addDestcitypopup{padding-bottom:1%;width:30%;min-height:200px;background:#fff;border-radius:5px;top:45%;position:fixed;z-index:2;margin:-7% 38%;display:none;}

.addShipfromPop{padding-bottom:1%;width:30%;min-height:200px;background:#fff;border-radius:5px;top:45%;position:fixed;z-index:2;margin:0% 35%;display:none;}
.addShipToPop{padding-bottom:1%;width:30%;min-height:200px;background:#fff;border-radius:5px;top:45%;position:fixed;z-index:2;margin:0% 35%;display:none;}
.addNDCToPop{padding-bottom:1%;width:30%;min-height:200px;background:#fff;border-radius:5px;top:45%;position:fixed;z-index:2;margin:0% 35%;display:none;}
.addBatchIdToPop{padding-bottom:1%;width:30%;min-height:200px;background:#fff;border-radius:5px;top:45%;position:fixed;z-index:2;margin:0% 35%;display:none;}
.addSerialNumberofgoodsToPop{padding-bottom:1%;width:30%;min-height:200px;background:#fff;border-radius:5px;top:45%;position:fixed;z-index:2;margin:0% 35%;display:none;}
#errorr{color: red;font-weight: bold;text-align: center;}
.cancelsavebtns{width:70%;margin:auto;text-align:center;margin-top: 2%;}
.AddButtonIcon{cursor:pointer;}
.createshipmentfont a:hover{color:#fff;}
.width1{width:1%;}
.width5{width:5%;}
.width25{width:25%;}
.width50{width:50%;}
.width75{width:75%;}
.width90{width:90%;}
.width100{width:100%;}
#tablelist_data_length{float:right;}
table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting {
    padding-right: 20px;
}
#error_filter{color:red;font-weight:bold;font-size:12px;width:100%;text-align:center;}
.delivery_charts{display:none;}
body{overflow-x:hidden;overflow-y:auto;}
.showlistcard{transform: scale(1.04);box-shadow: -5px 3px 30px #000;z-index: 1;position: relative;}
#ui-datepicker-div{index:9999;}
.tab-pane>br{display:none;}
#deviceInUsetable>thead>tr>th{padding:5px;text-align:center;}
#deviceInUsetable_length{font-size: 12px;margin-top: 9px;display:none;}
#draftTableaa>thead>tr>th{padding:4px;text-align:center;position: sticky;   top: 0;background: #945564;}
#draftTableaa>tbody>tr>td{padding:2px;text-align:center;}
#draftTableaa_length{font-size: 12px;margin-top: 9px;display:none;}
#draftTableaa_filter{font-size: 12px;margin-top: 9px;display:none;}
.form-control-sm{height:25px;}
.custom-select-sm {height:25px;}
label{margin:0px;}
#draftTableaa_info{font-size: 12px;}
.dataTables_paginate,.dataTables_info{display:none;}
#draftTableaa_paginate{font-size:9px;}
#draftTableaa>thead>tr>.sorting, .sorting_asc, .sorting_desc {
    background : none;
}
table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before{content:none;}
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after{content:none;}
div::-webkit-scrollbar {
    width: 8px;
    height:8px;
}

div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.shipment_name{width:80%;border: 1px solid #000;padding: 1.5%;border-radius: 5px;margin-top: 1.5%;}
#shipmentdatalistshow>tbody>tr:hover{background:lightgray;font-weight:bold;cursor:pointer;}


#shipmentdatalistshow>thead>tr>th{padding:4px;text-align:center;}
#shipmentdatalistshow>tbody>tr>td{padding:2px;text-align:center;}
#shipmentdatalistshow_length{font-size: 12px;margin-top: 9px;display:none;}
#shipmentdatalistshow_filter{font-size: 12px;margin-top: 9px;display:none;}
.form-control-sm{height:25px;}
.custom-select-sm {height:25px;}
label{margin:0px;}
#shipmentdatalistshow_info{font-size: 12px;}
#shipmentdatalistshow_paginate{font-size:9px;}
#shipmentdatalistshow>thead>tr>.sorting, .sorting_asc, .sorting_desc {
    background : none;
}
#draftTableaa>tbody>tr:hover{background:lightgray;font-weight:bold;cursor:pointer;}
#loadingimg{position: absolute;margin: 10% 40%;display:none;}
#loadingimg1{margin: 10% 30%;display:none;}
#bottom_map{height:300px;overflow-y:auto;}
.listoffilters{width:94%;margin-right:3%;height:200px;background:#fff;display:none;position: absolute;z-index:9999999999;margin-top: 10px;border: 1px solid #000;border-radius: 3px;right:0%;bottom:38%;}
.checkbox{height:20px;}
.from{font-size:10px;margin:0px;font-weight:600;}
.to{font-size:10px;margin:0px;font-weight:600;}
/* #draftTable_length{float:left;} */
/* #draftTable_wrapper{overflow-x:auto;} */











.switch {
	position: relative;
	display: block;
	vertical-align: top;
	width: 60px;
	height: 20px;
	padding: 3px;
	margin:0 0px 8px 18px;
	background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
	background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
	border-radius: 18px;
	/* box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05); */
	cursor: pointer;
}
.switch-input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}
.switch-label {
	position: relative;
	display: block;
	height: inherit;
	font-size: 10px;
	text-transform: uppercase;
	background: #eceeef;
	border-radius: inherit;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
}
.switch-label:before, .switch-label:after {
	position: absolute;
	top: 50%;
	margin-top: -.5em;
	line-height: 1;
	-webkit-transition: inherit;
	-moz-transition: inherit;
	-o-transition: inherit;
	transition: inherit;
}
.switch-label:before {
	content: attr(data-off);
	right: 11px;
	color: #0a0a0a;
	text-shadow: 0 1px rgba(255, 255, 255, 0.5);
	font-weight:bold;
}
.switch-label:after {
	content: attr(data-on);
	left: 11px;
	color: #FFFFFF;
	font-weight:bold;
	text-shadow: 0 1px rgba(0, 0, 0, 0.2);
	opacity: 0;
}
.switch-input:checked ~ .switch-label {
	background: #965664;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.switch-input:checked ~ .switch-label:before {
	opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
	opacity: 1;
}
.switch-handle {
	position: absolute;
	top: 4px;
	left: 4px;
	width: 18px;
	height: 18px;
	background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
	background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
	border-radius: 100%;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.switch-handle:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -6px;
	width: 12px;
	height: 12px;
	background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
	background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
	border-radius: 6px;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}
.switch-input:checked ~ .switch-handle {
	left: 37px;
	box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}
 
/* Transition
========================== */
.switch-label, .switch-handle {
	transition: All 0.3s ease;
	-webkit-transition: All 0.3s ease;
	-moz-transition: All 0.3s ease;
	-o-transition: All 0.3s ease;
}





input[type="file"] {
  display: block;
}
.imageThumb {
  max-height: 75px;
  border: 2px solid;
  padding: 1px;
  cursor: pointer;
}
.pip {
  display: inline-block;
}
.abcd{width:142px;height:97px;margin:1%;float:left;border:1px solid #000;border-radius:3px}
.abcd > img{width: 100%;
    position: relative;
    top: -22px;
    height: 96%;}
.remove {
  display: block;
    /* background: #444; */
    /* border: 1px solid black; */
    color: #0e0e0e;
    text-align: center;
    cursor: pointer;
    width: 10px;
    height: 10px;
    padding: 0px;
    line-height: 6px;
    position: relative;
    top: 19px;
    left: 85px;
}
.remove:hover {
  background: white;
  color: black;
}
.delete{font-weight: bold;
    position: relative;
    top: 0px;
    left: 125px;    width: 15px;cursor:pointer;
    z-index: 1;}
    .carousel-inner{background:#00000087;}
    .carousel-item{background:none;}
    .carousel-item > img {width:80%;margin:5% 10%;height:500px;background:#fff;}
    
   .closePreview{position: absolute;
    width: 25px;
    height: 30px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    right: 6px;    z-index: 8;
    cursor: pointer;}
    
    
  .previewListevents{position: fixed; z-index: 4; width: 90%; margin: 3% 6%; border-radius: 5px; top: 1%; background: rgb(255, 255, 255); height: 90%;}
  .showpopupImages{display: block; width: 80%; height: 600px; position: fixed; overflow-y: auto; z-index: 4; top: 0%;}
  .AlertFormPage{position:fixed;z-index:11;width:65%;margin:2% 18%;display:none;top:12%;background:#fff;border-radius:5px;}
  .showgeolist{position:fixed;z-index:11;width:65%;margin:2% 18%;display:none;top:12%;background:#fff;border-radius:5px;}
  .spaceTextAlign{width: 3%;line-height: 30px;font-weight:bold;}
  .w-47{width:47%;text-indent: 35%; line-height:25px;}
  
 .rmov{width:47%;text-indent: 20%;line-height:25px;}
  
  .rmov1{width:47%;text-indent: 23%;line-height:25px;} 